*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(205, 246, 214);
}

.panel{
    width: 80%;
    height: 90%;
    background-color: white;
    position: absolute;
    border-radius: 10px;
     overflow: hidden;
}
#ptop{
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: green;
    height: 100px;
    width: 100%;
    align-items: center;
    padding: 0px 30%;
   
}

#elem{
    align-items: center;
    display: flex;
    gap: 20px;
}
.elem h2{
    font-weight: 700;
    font-size: 22px;
}
.box{
    font-weight: 700;
    font-size: 22px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    color: orange;
}
#pbtm{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 20px;
    height: calc(100% - 100px);
    justify-content: center;
    align-items: center;
    color: red;
    
}
.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: green;
    border-radius: 50%;
    color: white;
    font-weight: 700;
}
.bubble:hover{
    background-color: red;
    cursor: pointer;
    
}


